body {
    font-family: "Satisfy";
}

.gh {
        background-color: rgb(212, 126, 13);
}

.navbar-toggler {
    background-color: aliceblue;
}
.sobre {
    background-color: rgb(212, 126, 13);
}

footer {
    background-color: rgb(212, 126, 13);
}